{% macro create_blab_list(blabs) %}
	<table class="blab-list" align="center" >
		<thead>
			<tr>
				<th>Picture</th>
				<th>Content</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			{% for blab in blabs %}
				<tr>
					<td width="75px">
						<a href="{{base_path}}/blabber/profile/{{blab.username}}">
							<img src="http://i.imgur.com/T1CzGFB.png" alt="profile_picture" style="width:75px;height:75px;" border="0">
						</a>
					</td>
					<td>
						<p style="color:gray"><a style="color:black" href="{{base_path}}/blabber/profile/{{blab.username}}"><b>{{blab.username}}</b></a> @{{blab.username}}</p>
						<p class="blab-body">{{blab.body}}</p>
					</td>
					<td width="100px"><a href="{{base_path}}/blabber/blab/{{blab.id}}" class="btn btn-default">EXPAND</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

		<br/>
		<br/>
		<br/>
		<br/>
{% endmacro %}


{% macro create_user_list(users, nums) %}
	{% if nums > 0 %}
	<table align="center" class="user-list">
		<thead>
			<tr>
				<th>   Users</th>
				<th> </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			{% for index in 0..nums-1 %}
				{% if index % 3 == 0 %}
					<tr class="user-list-row">
				{% endif %}

				<td class="user-list-user">
					<table style="vertical-align: top;">
						<tr>
							<td class="user-list-profile-picture">
								<a href="{{base_path}}/blabber/profile/{{users[index].username}}">
									<img src="http://i.imgur.com/T1CzGFB.png" alt="profile_picture">
								</a>
							</td>
							<td class="user-list-information">
								<p class="username"><a href="{{base_path}}/blabber/profile/{{users[index].username}}"><b>{{users[index].username}}</b></a> @{{users[index].username}}</p>
								<p>{{users[index].description}}</p>
							</td>
						</tr>
					</table>
				</td>

				{% if index % 3 == 2 %}
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
	{% endif %}


{% endmacro %}
