{% macro create_blab_list(blabs) %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>

      <tbody>
      {% for blab in blabs %}
        <tr>
          <td width="10%"><a href="{{base_path}}/blabber/profile/{{blab.username}}">{{blab.username}}</a></td>
          <td>{{blab.body}}</td>
          <td width="6%"><a href="{{base_path}}/blabber/blab/{{blab.id}}" class="btn btn-default">EXPAND</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endmacro %}

{% macro create_user_list(blabs) %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>

      <tbody>
      {% for blab in blabs %}
        <tr>
          <td width="10%"><a href="{{base_path}}/blabber/profile/{{user.username}}">{{user.username}}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endmacro %}
