{% extends "base.html" %}
{% block content %}
    <h1 align="center">Edit a Blab</h1>

    {% if errors %}
  		<div align="center">
  			<div class="alert-danger">
  				<table>
  					{% for error in errors %}
  						<tr><td><div align="center">{{error}}</div></td></tr>
  					{% endfor %}
  				</table>
  			</div>
  		</div>
  	{% endif %}

    <form method="post" action="{{base_path}}/blab/edit">
        <input type="hidden" value={{blab.id}} name="id"/>
        <input type="hidden" value="{{blab.body}}" name="oldbody"/>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" name="newbody" rows="5">{{blab.body}}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
