{% extends "base.html" %}
{% block content %}
  	<h1 align="center">Write a New Blab</h1>

    {% if errors %}
  		<div align="center">
  			<div class="alert-danger">
  				<table>
  					{% for error in errors %}
  						<tr><td><div align="center">{{error}}</div></td></tr>
  					{% endfor %}
  				</table>
  			</div>
  		</div>
  	{% endif %}

  <br/>

  <div align="center">
    <div width="900px">
    	<form method="post" action="{{base_path}}/blab/new">
        <input type="hidden" value={{user_logged_in.name}} name="username"/>
    		<div class="form-group">
    			<textarea class="form-control" name="body" maxlength="256" rows="5"></textarea>
    		</div>

    		<div class="form-group">
    			<button type="submit" class="navbutton-selected">Send!</button>
    		</div>
    	</form>
    </div>
  </div>
{% endblock %}
