{% extends "base.html" %}
{% block content %}
  <h1>Showing a Blab</br>&emsp;<small>A lonely blab..</small></h1>

    {% if message %}
        <div class="alert alert-success">
            <ul>
                <li>{{message}}</li>
            </ul>
        </div>
    {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Blab ID</th>
        <th>Message</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
        <tr>
			<td width="10%"><a href="{{base_path}}/profile/{{blab.username}}">{{blab.username}}</a></td>
			<td width="6%">{{blab.id}}</td>
			<td>{{blab.body}}</td>

			<td width="4%">
				<form method="post" action="{{base_path}}/blab/favourite">
					<input type="hidden" value={{blab.id}} name="blab_id"/>
					<div class="form-group">
                        {% if liked %}
                            <button type="submit" class="btn btn-success"><3</button>
                        {% else %}
                            <button type="submit" class="btn btn-danger"><\3</button>
                        {% endif %}
                    </div>
				</form>
			</td>

			<td width="6%"><a href="{{base_path}}/blab/edit/{{blab.id}}" class="btn btn-warning">EDIT</a></td>
			<td width="8%"><a href="{{base_path}}/blab/delete/{{blab.id}}" class="btn btn-danger">DELETE</a></td>
        </tr>
    </tbody>
  </table>
{% endblock %}