#main-container{
	max-width: 1200px;
	padding: 10px 25px;
	margin: 0px auto;
}

.navbar .container-fluid{
	max-width: 1200px;
	margin: 0px auto;
}

.nav li {
	height:100%;
}

.form-group {
	margin-bottom: 7.5px;
}

#searchbar {
	display: table;
	margin-top: 7.5px;
}

#searchbar input {
	display: table-cell;
	vertical-align: middle;
}