#main-container{
	max-width: 1200px;
	padding: 10px 25px;
	margin: 0px auto;
}

.navbar .container-fluid{
	max-width: 1200px;
	margin: 0px auto;
}

#searchbar {
	display: table;
}

#searchbar input {
	display: table-cell;
	vertical-align: middle;
}