{% extends "base.html" %}
	{% block content %}
	{% import "macros/list.html" as list %}

	{% if feedType == "global" %}
		<h1>Global Feed</br>&emsp;<small>What are people blabbing about?</small></h1>
	{% else %}
		<h1>Personalized Feed</br>&emsp;<small>people you follow idk.</small></h1>
	{% endif %}


	{% if message %}
		<div class="alert alert-success">{{message}}</div>
	{% endif %}

	{% if error %}
		<div class="alert alert-danger">{{error}}</div>
	{% endif %}

	<p>
		<a href="{{base_path}}/blab/new" class="btn btn-success">New Blab</a>
	</p>
	
	{{list.create_blab_list(blabs)}}
	</table>

{% endblock %}
