{% extends "base.html" %}
	{% block content %}
	<div id="subnavigation" align="center">
		<table style="width:50%" id="scaling">
			<tr>
				<td align="left" style="width:50%">
					<button onclick="show('loginform')" style="width:98%;" id="choose_login" class="btn btn-success">Log in</button>
				</td>
				<td align="right" style="width:50%">
					<button onclick="show('registerform')" style="width:98%;" id="choose_register" class="btn btn-primary">Register</button>
				</td>
			</tr>
		</table>
	</div>

	</br>

	<div id="splashscreen" align="center">
		<img src="assets/images/blabber2.png" alt="Blabber" style="width:100%;height:50%;">
	</div>

	<div id="loginform" align="center" hidden>
		{% if type == "login-error" %}
			{% if error %}
				<div align="center">
					<div class="alert-danger">
						<div align="center">{{error}}</div>
					</div>
				</div>
			{% endif %}

			{% if message %}
				<div align="center">
					<div class="alert-success">
						<div align="center">{{message}}</div>
					</div>
				</div>
			{% endif %}
		{% endif %}

		<h1>Log in</h1>
		<form method="post" action="{{base_path}}/login">
			<div id="scaling" class="form-group">
				<p>Username</p>
				<input style="max-width:575px" type="text" class="form-control" name="username" value="{{username}}">
			</div>

			<div id="scaling" class="form-group">
				<p>Password</p>
				<input style="max-width:575px" type="password" class="form-control" name="password">
			</div>

			<br/>
			<button type="submit" class="btn btm-primary">Log in!</button>
		</form>
	</div>

	<div id="registerform" align="center" hidden>
		{% if type == "register-error" %}
			{% if errors %}
				<div align="center">
					<div class="alert-danger">
						<table>
							{% for error in errors %}
								<tr><td><div align="center">{{error}}</div></td></tr>
							{% endfor %}
						</table>
					</div>
				</div>
			{% endif %}

			{% if message %}
				<div align="center">
					<div class="alert-success">
						<div align="center">{{message}}</div>
					</div>
				</div>
			{% endif %}
		{% endif %}

	<h1>Register</h1>
		<form method="post" action="{{base_path}}/register">
			<div class="form-group">
				<label>Username</label>
				<input style="max-width:575px" type="text" class="form-control" name="username" autocomplete="off">
			</div>

			<div id="scaling" class="form-group">
				<label>Password</label>
				<input style="max-width:575px" type="password" class="form-control" name="password" autocomplete="off">
			</div>

			<br/>
			<button type="submit" class="btn btm-primary">Register!</button>
		</form>
	</div>


	<script>
		function show(id) {
			hide();
			document.getElementById(id).style.display = "block";
		}

		function hide() {
			document.getElementById("splashscreen").style.display = "none";
			document.getElementById("loginform").style.display = "none";
			document.getElementById("registerform").style.display = "none";
		}
	</script>

	{% if type == "login-error" %}
		<script>
			show('loginform');
		</script>
	{% elseif type == "register-error" %}
		<script>
			show('registerform');
		</script>
	{% endif %}

{% endblock %}
