{% extends "base.html" %}
{% import "macros/list.html" as list %}
{% block content %}
	<h1>Profile of {{user.username}}</h1>

	{% if message %}
		<div class="alert alert-success">
			<ul>
				<li>{{message}}</li>
			</ul>
		</div>
	{% endif %}


	{% if follows == "true" %}
		<form class="navbar-form navbar-right" method="post" action="{{base_path}}/profile/{{user.username}}/follow">
			<input type="hidden" value="follow" name="action"/>
			<button id="unfollow_button" onmouseover="following_onMouseEnter()" onmouseout="following_onMouseLeave()" type="submit" class="btn btn-primary">Following</button>
		</form>
	{% elseif follows == "false" %}
		<form class="navbar-form navbar-right" method="post" action="{{base_path}}/profile/{{user.username}}/follow">
			<input type="hidden" value="unfollow" name="action"/>
			<button type="submit" class="btn btn-default">Follow</button>
		</form>
	{% else %}
			{% if follows == "self" %}
				<button disabled class="btn btn-default">You can't follow yourself.</button>
			{% else %}
				<form action="{{base_path}}/login" method="get">
					<button class="btn btn-default" type="submit">Login to follow {{user.username}}!</button>
				</form>
			{% endif %}
	{% endif %}

	<br/>
	<br/>

	<!-- Navigation bar for profiles -->
	<table style="width:50%">
		<tr>
			<td><button id="button_blabs" onclick="show('blabs')" align="center" style="width:95%;" class="btn btn-success">Blabs<br><b>99999</b></button></td>
			<td><button id="button_following" onclick="show('following')" align="center" style="width:95%;" class="btn btn-default">Following<br><b>99999</b></button></td>
			<td><button id="button_followers" onclick="show('followers')" align="center" style="width:95%;" class="btn btn-default">Followers<br><b>99999</b></button></td>
			<td><button id="button_favourites" onclick="show('favourites')" align="center" style="width:95%;" class="btn btn-default">Favourites<br><b>99999</b></button></td>
		</tr>
	</table>


	<div id="blabs">
		<h2>{{user.username}}'s Blabs</h2>
		{{list.create_blab_list(blabs)}}
	</div>

	<div id="following">
	</div>

	<div id="followers">
	</div>

	<div id="favourites" hidden>
		<h2>{{user.username}}'s Favourite Blabs</h2>
		{{list.create_blab_list(favouriteBlabs)}}
	</div>

	<script type="text/javascript">
		function following_onMouseEnter() {
			var button = document.getElementById("unfollow_button");
			button.textContent = "Unfollow!";
			button.className = "btn btn-danger";
		}
		function following_onMouseLeave() {
			var button = document.getElementById("unfollow_button");
			button.textContent = "Following";
			button.className = "btn btn-primary";
		}
		function show(name) {
			var navigation = ["blabs", "following", "followers", "favourites"];
			for (var index = 0; index < navigation.length; index++) {
				var list = document.getElementById(navigation[index]);
				var nav_button = document.getElementById("button_" + navigation[index]);
				list.style.display = "none";
				nav_button.className = "btn btn-default";
			}

			document.getElementById(name).style.display = "block";
			document.getElementById("button_" + name).className = "btn btn-success";
		}
	</script>


{% endblock %}
