{% extends "base.html" %}
{% import "macros/list.html" as list %}
{% block content %}
	<h1 align="center">Profile of {{user.username}}</h1>

	{% if user.description != "" %}
		<div align="center">
			<div align="center" class="account-description-panel">
				<p align="center" class="account-description">{{user.description}}</p>
			</div>
		</div>
	{% endif %}


	{% if message %}
		<div align="center">
			<div class="alert-success">
				<div align="center">{{message}}</div>
			</div>
		</div>
	{% endif %}
	<br/>

	{% if follows == "true" %}
		<div align="center">
			<div class="follow-panel">
			<form method="post" action="{{base_path}}/profile/{{user.username}}/follow">
				<input type="hidden" value="follow" name="action"/>
				<button class="follow-button-unfollow" id="unfollow_button" type="submit">Click to Unfollow {{user.username}}</button>
			</form>
		</div>
		</div>
	{% elseif follows == "false" %}
		<div align="center">
			<div class="follow-panel">
				<form method="post" action="{{base_path}}/profile/{{user.username}}/follow">
					<input type="hidden" value="unfollow" name="action"/>
					<button class="follow-button" type="submit">Click to Follow {{user.username}}</button>
				</form>
			</div>
		</div>
	{% else %}
		{% if follows == "self" %}
		<div align="center">
			<div class="follow-panel">
				<button class="follow-button-disabled" disabled>You can't follow yourself.</button>
			</div>
		</div>
		{% else %}
			<div align="center">
				<div class="follow-panel">
					<form action="{{base_path}}/login" method="get">
						<button class="follow-button-login" type="submit">Login to follow {{user.username}}!</button>
					</form>
				</div>
			</div>
		{% endif %}
	{% endif %}

	<br/>
	<!-- Navigation bar for profiles -->
	<table align="center" cellpadding="0" cellspacing="0" border="0" class="profile-navigation">
		<tr>
			<td><button class="navbutton-selected" id="button_blabs" onclick="show('blabs')">Blabs<br/><b>{{blabCount}}</b></button></td>
			<td><button class="navbutton" id="button_following" onclick="show('following')">Following<br/><b>{{followingCount}}</b></button></td>
			<td><button class="navbutton" id="button_followers" onclick="show('followers')">Followers<br/><b>{{followersCount}}</b></button></td>
			<td><button class="navbutton" id="button_favourites" onclick="show('favourites')">Favourites<br/><b>{{favouriteBlabCount}}</b></button></td>
		</tr>
	</table>


	<br/>

	<div id="blabs">
		{{list.create_blab_list(blabs)}}
	</div>

	<div id="following" hidden>
		{{list.create_user_list(following, followingCount)}}
	</div>

	<div id="followers" hidden>
		{{list.create_user_list(followers, followersCount)}}
	</div>

	<div id="favourites" hidden>
		{{list.create_blab_list(favouriteBlabs)}}
	</div>

	<script type="text/javascript">
		function show(name) {
			var navigation = ["blabs", "following", "followers", "favourites"];
			for (var index = 0; index < navigation.length; index++) {
				var list = document.getElementById(navigation[index]);
				var nav_button = document.getElementById("button_" + navigation[index]);
				list.style.display = "none";
				nav_button.className = "navbutton";
			}

			document.getElementById(name).style.display = "block";
			document.getElementById("button_" + name).className = "navbutton-selected";
		}
	</script>


{% endblock %}
